/* #757575 основний колір тексту */
/* #212121 колір заголовків */
/* #FFFFFF колір тексту героя*/
/* #2196F3 колір акценту */
/* rgba(255, 255, 255, 0.6); колір в подвалі контактних даних */

/* #E5E5E5 основний колір фону */
/* #F5F4FA вторинний колір фону сторінки */
/* #2F303A колір героя и підвалу фону */

body {
  color: #757575;
  background-color: #e5e5e5;
}

/* прибрати маркера списків сторінки */
.list {
  list-style: none;
}
/* розмітка HEADER */
/* оформлення логотипа */
.logo {
  color: #212121;
}
.logo .logo-blue {
  color: #2196f3;
}
/* оформлення навігації */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-info .site-info-header {
  color: #757575;
}
.site-info :hover,
.site-info :focus {
  color: #2196f3;
}
/* оформлення main */
/* оформлення героя */
.heroes-title {
  color: #ffffff;
}
.heroes .heroes-button {
  color: #ffffff;
  background-color: #2196f3;
}
/* оформлення кольру заголовків */
.section-title {
  color: #212121;
}
/* оформлення футер */
.below-logo,
.location {
  color: #ffffff;
}
.below-logo .logo-blue {
  color: #2196f3;
}
.below-link .link {
  color: rgba(255, 255, 255, 0.6);
}
/*сторінка 2 портфоліо */
.section-title .button {
  background-color: #f5f4fa;
  color: #212121;
}
.section-title .button :hover,
.section-title .button :focus {
  color: #ffffff;
  background-color: #2196f3;
}
